
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}


h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: blue;
    text-align: left;
}

ul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: rgb(156, 28, 200, .5);
    text-align: left;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: rgb(156, 28, 200, .5);
    text-align: left;
}

hr{
    color: rgb(128, 128, 128, 25);
}

a, footer{
    font-family: monospace;
    color: rgb(128, 128, 128, 25);
    text-decoration: none;
    letter-spacing: 3px;
}